[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
PyYAML = "*"
python-bitbankcc = {ref = "e82d8e5", git = "https://github.com/bitbankinc/python-bitbankcc"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
